
<script src="https://kit.fontawesome.com/c1cb0d0968.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">

<div class="body">
	<div class="container">
		<div class="flash">
			<% if flash[:notice] %>
				<%= flash[:notice] %>
			<% end %>
		</div>
			
			<div class="row">

			<%= render '/co', book: @book, user: @user %>


			<div class="col-xs-9">
				<h2>Book detail</h2>
				<table class="table">
					<tbody>
						<%if @user == current_user %>
							<tr>
								<td>
									<%= link_to user_path(@user.id) do %>
										<%= attachment_image_tag @book_d.user, :profile_image, :fill, 70, 70, format: 'jpeg' %>
										<br><%= @book_d.user.name %>
									<% end %>
								</td>
								<td>
									<%= link_to @book_d.title, book_path(@book_d.id) %>
								</td>
								<td>
									<%= @book_d.body %>
								</td>
								<td>
									<%= link_to "Edit", edit_book_path(@book_d.id), class: "btn-sm btn-success" %>
								</td>
								<td>
									<%= link_to "Destroy",book_path,method: :delete,"data-confirm" =>"本当に消しますか？", class: "btn-sm btn-danger" %>
								</td>
							</tr>
						<% else %>
							<thead>
								<tr>
									<th></th>
									<th>Title</th>
									<th>Opinion</th>
								</tr>
							</thead>
							<tr>
								<td>
									<%= link_to user_path(@user.id) do %>
										<%= attachment_image_tag @book_d.user, :profile_image, :fill, 70, 70, format: 'jpeg' %>
										<br><%= @user.name %>
									<% end %>
								</td>
								<td>
									<%= link_to @book_d.title, book_path(@book_d.id) %>
								</td>
								<td>
									<%= @book_d.body %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>

				<%= form_for [@book_d, @post_comment] do |f| %>
    				<div class="row">
        				<div class="col-sm-12">
            				<%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメントをここに" %>
        				</div>
    				</div>
    				<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
				<% end %>

				<% if @book_d.favorited_by?(current_user) %>
					<li>
    					<%= link_to book_favorites_path(@book_d), method: :delete do %>
    						<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    						<%= @book_d.favorites.count %> いいね
    					<% end %>
					</li>
				<% else %>
					<li>
    					<%= link_to book_favorites_path(@book_d), method: :post do %>
    						<i class="fa fa-heart-o" aria-hidden="true"></i>
   							 <%= @book_d.favorites.count %> いいね
   						 <% end %>
					</li>
				<% end %>


				<h6><%= @book_d.post_comments.count %>件コメント</h6>
				<ol>
    				<% @book_d.post_comments.each do |post_comment| %>
        				<li class="comment">
            				<div class="comment-body bb">
                				<div class="comment-avatar">
                    				<div class="avatar">
                        				<%= attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, format:'jpeg' %>
                   					 </div>
                				</div>
                				<div class="comment-text">
                    				<div class="comment-author clearfix">
                        				<a href="#" class="link-author"><%= post_comment.user.name %></a>
                        				<span class="comment-meta">
                        				<span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                        				</span>
                    				</div>
                    				<div class="comment-entry"><%= post_comment.comment %></div>
                				</div>
                				<% if post_comment.user == current_user %>
									<div>
    									<%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
  									</div>
								<% end %>
            				</div>
        				</li>
    				<% end %>
				</ol>


			</div>
		</div>
	</div>
</div>
